footer {
  background: #6006f2;
  padding: 80px 0;
  text-align: center;
  color: #fff;
}

footer h2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

footer h2 span {
  color: orange;
  font-weight: 700;
}

footer .menu_links {
  margin-bottom: 20px;
}

footer .menu_links li {
  display: inline-block;
  padding: 10px 20px;
}

footer .menu_links li a {
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

footer p {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 40px;
}

footer .social_media li {
  display: inline-block;
  padding: 0 10px;
}

footer .social_media li a {
  color: #e6cdf9;
  font-size: 2rem;
  opacity: 0.5;
}

/* LAPTOPS */
@media only screen and (max-width: 1215px) {
}

/* TABLETS */
@media only screen and (max-width: 1023px) {
}

/* MOBILE */
@media only screen and (max-width: 767px) {
}
