#latest_headphones {
  padding: 50px 0;
}

/*--------------------------------------------------------*/

/*--------------------------------------------------------*/

#latest_headphones .header_content {
  padding: 50px 0;
}

#latest_headphones .header_content:after {
  content: "";
  display: table;
  clear: both;
  /*when using float, put this fix on parent element*/
}

/*--------------------------------------------------------*/

#latest_headphones .header_content h1 {
  color: #6066f2;
  font-size: 4.3rem;
  text-transform: capitalize;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  float: left;
}

#latest_headphones .header_content .directions {
  display: inline-block;
  float: right;
  position: relative;
  top: 35px;
}

/*--------------------------------------------------------*/

#latest_headphones .header_content .directions .move_left {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
  padding: 20px 70px;
  font-size: 3rem;
  background: #6066f2;
  color: #fff;
  border: 1px solid #6066f2;
  /* width: 40px; */
}

#latest_headphones .header_content .directions .move_right {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  padding: 20px 70px;
  font-size: 3rem;
  background: #fff;
  color: #cecece;
  border: 1px solid #cecece;
  /* width: 40px; */
}

/*--------------------------------------------------------*/

/*--------------------------------------------------------*/

#latest_headphones .body_content {
  padding: 100px 0;
}

#latest_headphones .body_content:after {
  content: "";
  display: table;
  clear: both;
}

#latest_headphones .body_content .column {
  width: 33.33%;
  float: left;
  padding: 0 15px;
  text-align: center;
}

#latest_headphones .body_content .column .bg_square {
  background: #160575;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #160575 1%, #ad2f08 41%, #6b1749 74%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #160575 1%,
    #ad2f08 41%,
    #6b1749 74%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #160575 1%, #ad2f08 41%, #6b1749 74%);
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

#latest_headphones .body_content .column:nth-child(1) .bg_square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  background: #e53ddf;
  /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #e53ddf 0%,
    #7c010d 18%,
    #3e43dd 43%,
    #0b5b3f 71%,
    #4ad6c3 89%,
    #4ad6c3 89%,
    #bf6e4e 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #e53ddf 0%,
    #7c010d 18%,
    #3e43dd 43%,
    #0b5b3f 71%,
    #4ad6c3 89%,
    #4ad6c3 89%,
    #bf6e4e 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #e53ddf 0%,
    #7c010d 18%,
    #3e43dd 43%,
    #0b5b3f 71%,
    #4ad6c3 89%,
    #4ad6c3 89%,
    #bf6e4e 100%
  );
}

#latest_headphones .body_content .column:nth-child(2) .bg_square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  background: #ce1c9f;
  /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #ce1c9f 9%,
    #a5a010 31%,
    #3b7f5b 68%,
    #42bcae 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #ce1c9f 9%,
    #a5a010 31%,
    #3b7f5b 68%,
    #42bcae 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #ce1c9f 9%,
    #a5a010 31%,
    #3b7f5b 68%,
    #42bcae 100%
  );
}

#latest_headphones .body_content .column:nth-child(3) .bg_square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  background: #387567;
  /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #387567 0%,
    #929651 12%,
    #b68d4c 21%,
    #020101 53%,
    #e01619 89%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #387567 0%,
    #929651 12%,
    #b68d4c 21%,
    #020101 53%,
    #e01619 89%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #387567 0%,
    #929651 12%,
    #b68d4c 21%,
    #020101 53%,
    #e01619 89%
  );
}

/* ------------------------------------------------------------ */

#latest_headphones .body_content .column .bg_square img {
  width: 70%;
  position: absolute;
  top: -20%;
  left: 15%;
}

/* --------------------------------------------------------- */

#latest_headphones .body_content .column:nth-child(1) .bg_square .cart {
  background: #160575;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #160575 1%, #ad2f08 41%, #6b1749 74%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #160575 1%,
    #ad2f08 41%,
    #6b1749 74%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #160575 1%, #ad2f08 41%, #6b1749 74%);
  border: 8px solid #fff;
  width: 94px;
  height: 94px;
  position: absolute;
  top: -15%;
  right: -10%;
  border-radius: 50%;
  color: #fff;
}

#latest_headphones .body_content .column:nth-child(2) .bg_square .cart {
  background: #ce1c9f;
  /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #ce1c9f 9%,
    #a5a010 31%,
    #3b7f5b 68%,
    #42bcae 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #ce1c9f 9%,
    #a5a010 31%,
    #3b7f5b 68%,
    #42bcae 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #ce1c9f 9%,
    #a5a010 31%,
    #3b7f5b 68%,
    #42bcae 100%
  );
  width: 94px;
  height: 94px;
  position: absolute;
  top: -15%;
  right: -10%;
  border-radius: 50%;
  color: #fff;
  border: 8px solid #fff;
}

#latest_headphones .body_content .column:nth-child(3) .bg_square .cart {
  background: #387567;
  /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #387567 0%,
    #929651 12%,
    #b68d4c 21%,
    #020101 53%,
    #e01619 89%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #387567 0%,
    #929651 12%,
    #b68d4c 21%,
    #020101 53%,
    #e01619 89%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #387567 0%,
    #929651 12%,
    #b68d4c 21%,
    #020101 53%,
    #e01619 89%
  );
  border: 8px solid #fff;
  width: 94px;
  height: 94px;
  position: absolute;
  top: -15%;
  right: -10%;
  border-radius: 50%;
  color: #fff;
}

/* ----------------------------------------------------------------------- */

#latest_headphones .body_content .column .bg_square .cart .fas {
  font-size: 2rem;
  position: relative;
  top: 25px;
  left: -2px;
}

/* ----------------------------------------------------------------------- */

#latest_headphones .body_content .column .line {
  width: 20%;
  height: 2px;
  background: #6066f2;
  margin: 50px auto;
  display: inline-block;
}

#latest_headphones .body_content .column .price {
  color: orange;
  font-weight: 600;
  font-size: 2.3rem;
}

/* ------------------------------------------------- */

#latest_headphones .footer_content {
  text-align: center;
  position: relative;
}

#latest_headphones .footer_content img {
  width: 35%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 30%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) invert(100%);
  opacity: 0.1;
  transform: rotate(40deg);
}

#latest_headphones .footer_content .footer_info_box {
  z-index: 2;
  position: relative;
  padding: 100px 0;
}

/* ------------------------------------------------- */

#latest_headphones .footer_content .footer_info_box h2 {
  color: #6066f2;
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 60px;
}

#latest_headphones .footer_content .footer_info_box form {
  vertical-align: top;
  display: inline-block;
  margin: 0 auto;
}

#latest_headphones .footer_content .footer_info_box .email_input_area {
  background: #fff;
  border-radius: 50px;
  display: inline-block;
  padding: 10px;
  float: left;
}

#latest_headphones .footer_content .footer_info_box .email_input_area .far {
  font-size: 2rem;
  position: relative;
  top: 7px;
  margin-left: 15px;
  color: #d5e2ea;
}

/*------------------------------------------------------*/

#latest_headphones
  .footer_content
  .footer_info_box
  .email_input_area:nth-child(1) {
  height: 80px;
  margin-right: 50px;
}

#latest_headphones .footer_content .footer_info_box .email_input_area input {
  background: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px;
  text-transform: uppercase;
  width: 230px;
}

#latest_headphones
  .footer_content
  .footer_info_box
  .email_input_area:nth-child(1)
  input {
  position: relative;
  top: 8px;
}

#latest_headphones
  .footer_content
  .footer_info_box
  .email_input_area:nth-child(1)
  .far {
  position: relative;
  top: 15px;
}

#latest_headphones .footer_content .footer_info_box .email_input_area button {
  background: #6066f2;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  padding: 20px 50px;
  text-transform: uppercase;
}

/*----------------------------------------------------------------------*/
/* ---------------------RESPONSIVE DESIGN SECTION ---------------------- */
/* --------------------------------------------------------------------- */

/* LAPTOPS */
@media only screen and (max-width: 1215px) {
}

/* TABLETS */
@media only screen and (max-width: 1023px) {
  #latest_headphones .header_content h1 {
    font-size: 3.5rem;
  }

  #latest_headphones .header_content .directions {
    top: 18px;
  }

  #latest_headphones .body_content .column {
    width: 50%;
    margin-bottom: 100px; /* 150px */
  }
  #latest_headphones .footer_content img {
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 30%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%) invert(100%);
    opacity: 0.1;
    transform: rotate(40deg);
  }

  #latest_headphones .footer_content .footer_info_box form {
    width: 80%;
  }

  #latest_headphones .footer_content .footer_info_box .email_input_area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }

  #latest_headphones
    .footer_content
    .footer_info_box
    .email_input_area
    input[type="email"] {
    width: 50%;
    float: left;
    position: relative;
    top: 12px;
  }

  #latest_headphones .footer_content .footer_info_box .email_input_area button {
    background: #6066f2;
    color: white;
    font-size: 1rem;
    padding: 20px 0;
    width: 35%;
    float: left;
  }

  #latest_headphones
    .footer_content
    .footer_info_box
    .email_input_area:nth-child(1) {
    margin: 0;
    width: 50%;
  }

  #latest_headphones
    .footer_content
    .footer_info_box
    .email_input_area:nth-child(1)
    input[type="text"] {
    margin: 0;
    width: 80%;
  }

  #latest_headphones
    .footer_content
    .footer_info_box
    .email_input_area:nth-child(2) {
    margin: 0;
    width: 50%;
  }
}

/* MOBILE */
@media only screen and (max-width: 767px) {
  #latest_headphones .header_content {
    text-align: center;
  }

  #latest_headphones .header_content h1 {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    max-width: none;
  }

  #latest_headphones .header_content .directions {
    display: inline-block;
    float: none;
    position: static;
    top: 0;
    margin: 50px auto;
  }

  #latest_headphones .body_content .column {
    width: 100%;
    margin-bottom: 100px; /* 150px */
  }

  #latest_headphones .footer_content .footer_info_box .email_input_area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }

  #latest_headphones
    .footer_content
    .footer_info_box
    .email_input_area
    input[type="email"] {
    width: 50%;
    float: left;
    position: relative;
    top: 12px;
  }

  #latest_headphones .footer_content .footer_info_box .email_input_area button {
    background: #6066f2;
    color: white;
    font-size: 1rem;
    padding: 20px 0;
    width: 35%;
    float: left;
  }

  #latest_headphones
    .footer_content
    .footer_info_box
    .email_input_area:nth-child(1) {
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
  }

  #latest_headphones
    .footer_content
    .footer_info_box
    .email_input_area:nth-child(2) {
    margin: 0;
    width: 100%;
  }

  #latest_headphones .body_content .column:nth-child(1) .bg_square,
  #latest_headphones .body_content .column:nth-child(2) .bg_square,
  #latest_headphones .body_content .column:nth-child(3) .bg_square {
    transform: scale(0.8);
  }
}
